
<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/app.css" | prepend: site.baseurl }}">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="site-header sticky">
      <nav class="navbar navbar-default">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ site.baseurl }}/">Corber</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="{{ site.baseurl }}/pages/help">Help</a> </li>
              <li> <a href="https://github.com/isleofcode/corber/releases">Version Notes</a> </li>
              <li> <a href="https://github.com/isleofcode/corber">Github</a> </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">
      <div class="row">
        <aside class="col-md-3 col-sm-3 sidebar">
          <ul class="sidenav sticky open">
            <li> <a href="{{ site.baseurl }}/">Home</a> </li>
            <li>
              <a href="{{ site.baseurl }}/pages/installation">Installation/Quickstart</a>
              <ul>
                <li><a href="{{ site.baseurl }}/pages/compatibility">Compatibility</a></li>
		<li> <a href="{{site.baseurl}}/pages/ios-setup">iOS Builds + Emulators</a> </li>
                <li><a href="{{ site.baseurl }}/pages/android-setup">Android Builds + Emulators</a></li>
                <li> <a href="{{ site.baseurl }}/pages/ember-cordova-migration">Migrating from ember-cordova</a> </li>
              </ul>
            </li>

            <li>
              <a href="#">Frameworks</a>
              <ul>
                <li> <a href="{{ site.baseurl }}/pages/frameworks/index">Overview</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/frameworks/ember">Ember</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/frameworks/vue">Vue</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/frameworks/react">React/Webpack</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/frameworks/glimmer">Glimmer</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/frameworks/extending">Extending</a> </li>
              </ul>
            </li>

            <li>
             <a href="#">Workflow</a>
              <ul>
                <li> <a href="{{ site.baseurl }}/pages/workflow/committing">Committing &amp; Cloning</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/platforms">Platforms</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/building">Building</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/livereload">Live Reload</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/icon_splash_management">Icons &amp; Splashscreens</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/hooks">Hooks</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/default_webviews">Default WebViews</a> </li>
              </ul>
            </li>

            <li>
              <a href="{{ site.baseurl }}/pages/cli">CLI Reference</a>
            </li>

            <li>
              <a href="#">Ember Plugins</a>
              <ul>
                <li> <a href="{{ site.baseurl }}/pages/addons/platform">ember-cordova-platform</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/addons/events">ember-cordova-events</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/addons/splash">ember-cordova-splash</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/addons/keyboard">ember-cordova-keyboard</a> </li>
              </ul>
            </li>
          </ul>
        </aside>

        {{content}}
      </div>
    </main>

    <footer class="site-footer">
      <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>Copyright &copy; {{ 'now' | date: "%Y" }} <a href="https://isleofcode.com">Isle of Code Inc.</a> All right reserved</p>
          </div>
          <div class="col-md-6 col-sm-6"></div>
        </div>
      </div>
    </footer>

    <script src="{{ "/js/jquery-3.2.1.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ "/js/theDocs.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ "/js/custom.js" | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ "/js/prism.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50368464-7', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
