
<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="/app.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="site-header sticky">
      <nav class="navbar navbar-default">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ site.baseurl }}/">ember-cordova</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="{{ site.baseurl }}/pages/help">Help</a> </li>
              <li> <a href="https://github.com/isleofcode/ember-cordova/releases">Version Notes</a> </li>
              <li> <a href="https://github.com/isleofcode/ember-cordova">Github</a> </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">
      <div class="row">
        <aside class="col-md-3 col-sm-3 sidebar">
          <ul class="sidenav dropable sticky">
            <li> <a href="{{ site.baseurl }}/">Home</a> </li>
            <li> <a href="{{ site.baseurl }}/pages/installation">Installation/Quickstart</a> </li>

            <li>
             <a href="#">Workflow</a>
              <ul>
                <li> <a href="{{ site.baseurl }}/pages/workflow/project_setup">Project Setup</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/building">Building</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/livereload">Livereload</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/icon_splash_management">Icon & Splash</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/hooks">Hooks</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/workflow/default_webviews">Default WebViews</a> </li>
              </ul>
            </li>

            <li>
              <a href="#">API</a>
              <ul>
                <li> <a href="{{ site.baseurl }}/pages/cli">CLI Reference</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/service_platform">Platform Service</a> </li>
              </ul>
            </li>

            <li>
              <a href="#">Ember Plugins</a>
              <ul>
                <li> <a href="{{ site.baseurl }}/pages/addons/events">ember-cordova-events</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/addons/splash">ember-cordova-splash</a> </li>
                <li> <a href="{{ site.baseurl }}/pages/addons/keyboard">ember-cordova-keyboard</a> </li>
              </ul>
            </li>
          </ul>
        </aside>

        {{content}}
      </div>
    </main>

    <footer class="site-footer">
      <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>Copyright &copy; 2015 <a href="https://isleofcode.com">Isle of Code Inc.</a> All right reserved</p>
          </div>
          <div class="col-md-6 col-sm-6"></div>
        </div>
      </div>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/theDocs.min.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
